.body-article {
  background-color: white;
  font-size: $font-md;
  padding: 1.2rem 3.0rem;
}

.body-article > %headings {
  font-family: $heading-font;
  display: inline-block;
  box-shadow: inset 0 -.8rem $bunny-400;
}

h1 {
  font-size: $font-2xl;
  font-weight: bold;
}

@media (min-width: 600px) {
  .body-article > %headings {
    box-shadow: inset 0 -1.4rem $bunny-400;
  }
  
  h1 {
    font-size: $font-4xl;
  }
}

@media (min-width: 1024px) {
  .body-article {
    box-shadow:
    2rem 0 1.4rem -1rem $grey-700,
    -2rem 0 1.4rem -1rem $grey-700;
  }
}
